<html ng-app="app">

<head>
    <title></title>
    <meta content="">
    <style></style><!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <!--firebase auth to db-->
    <script src="https://www.gstatic.com/firebasejs/5.5.6/firebase.js"></script>
    
    <script src="js/firebasedbstring.js"></script>
  
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <!--jQuery-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!---->
    <script src="js/usuario.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<style>

    footer {
  
  position: absolute;
  bottom: 0;
  width: 100%;
 
  
}
</style>


<body ng-controller="ctrl">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>



            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="Usuario.html">{{ username }}</a></li>
                <li><a href="index.html">Inicio</a></li>
                <li ng-show="logedin"><a href="collapsible.html">Salir</a></li>
            </ul>
            <div class="right">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="images/office.jpg">
                </div>
                <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <div class="container">

        <table>
            <tbody>
                <!--NOMBRE-->
                <tr>
                    <td>Nombre para mostrar:</td>
                    <td><input type="text" name="name" ng-model="user.nombre"></td>
                    <td><a href="#name">editar</a></td>
                </tr>
                <!--EDAD-->
                <tr>
                    <td>Edad:</td>
                    <td><input type="number" name="age" ng-model="user.edad"></td>
                    <td><a href="#name">editar</a></td>
                </tr>
                <!--CONTRASENIA-->
                <tr>
                    <td>Password:</td>
                    <td><input type="text" name="pass" ng-model="user.pass"></td>
                    <td><a href="#name">editar</a></td>
                </tr>
                <tr>
                    <td>
                        <a class="waves-effect waves-light btn" ng-click="updateUser()"><i class="material-icons right">save</i>Actualizar datos</a>
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn"><i class="material-icons right">close</i>Eliminar cuenta</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Page Content goes here -->
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Hipstagram</h5>
                    
                </div>
                <div class="col l4 offset-l2 s12">
                    

                </div>
            </div>
        </div>
    </footer>

    <script src="js/materialize.min.js"></script>

</body>

</html>